<div class="header1">
	<h1>About</h1>
</div>

<div class="garage_table">
	<p>NFS Garage Manager v1.0</p>
	<ul>
		<li>CRUZ, Raymond Joseph Nathaniel</li>
		<li>FAJARDO, Francis Gerard</li>
		<li>FERNANDEZ, Joshua John</li>
		<li>LUCES, Jan Paolo</li>
	</ul>
	<p>CS129.3 RoR Lab 1</p>
</div>